<html>

<head>
  <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300' rel='stylesheet' type='text/css'>

</head>

<body style="margin: 0;">

<div class="header" style="width:100%; height: auto;">
  <img src="https://s3-ap-southeast-2.amazonaws.com/bikeblackspot2015/static_resources/banner.png" style="width: 60%; height: auto; background-size: cover; display: block; margin: 0 auto; padding-bottom: 2%; text-align: center;"/>
</div>

<div class="container" style="width: 100%; height: auto; text-align: center;">

  <div class="message" style="width: 100%; height: 0 auto; text-align: center; margin-bottom: 3%;">
    <h1 style="font-family: 'Fjalla One', sans-serif; letter-spacing: 1px;"><span style="color:#21BED8;">THANKYOU FOR REPORTING YOUR</span> &nbsp;BIKE BLACKSPOT</h1>
  </div>

  <div class="map" style="width: 60%; height: auto; margin: 0 auto; margin-bottom: 20px; text-align: center;"><img style="width: 100%; max-height: 300px;" src="<%= google_map %>">
  </div>

  <div class="report" style="width: 56%; height: auto; padding: 2%; background-color: #eee; margin: 0 auto; text-align: left; overflow: auto;">

    <div class="info" style="width: 60%; float: left; text-align: left; ">

      <h3 style="font-family: 'Fjalla One', sans-serif; letter-spacing: 1px; padding-right: 10px;"><span style="color: #21BED8; padding-right: 10px;">NAME:</span> <%= name %> <%= last %></h3>

      <h3 style="font-family: 'Fjalla One', sans-serif; letter-spacing: 1px; padding-right: 10px;"><span style="color: #21BED8; padding-right: 10px;">DATE:</span> <%= date %></h3>

      <h3 style="font-family: 'Fjalla One', sans-serif; letter-spacing: 1px; padding-right: 10px;"><span style="color: #21BED8; padding-right: 10px;">ISSUE TYPE:</span> <%= title %></h3>

      <h3 style="font-family: 'Fjalla One', sans-serif; letter-spacing: 1px;"><span style="color: #21BED8; padding-right: 10px;">LOCATION:</span> <%= address %></h3>

      <h3 style="font-family: 'Fjalla One', sans-serif; letter-spacing: 1px;"><span style="color: #21BED8; padding-right: 10px;">DESCRIPTION:</span></h3>

      <p style="font-family: 'Quicksand', sans-serif; padding-right: 10px;"><%= description %></p>
    </div>

    <div class="image" style="float: right; width: 40%;">
      <div class="photo" style="float: right;">
        <img style="max-width: 100%; max-height: 100%; width: auto; height: auto; padding-top: 10%;" src="<%= photo %>">
      </div>
    </div>

  </div>

  <div class="message" style="display: inline-block; width: 100%; height: 0 auto; text-align: center; margin-bottom: 3%;">
      <h1 style="font-family: 'Fjalla One', sans-serif; margin-top: 50px;"><span>WHAT HAPPENS NEXT?</span></h1>

      <div class="text2" style="width: 60%; height: auto; font-family: 'Quicksand', sans-serif; text-align: left; margin: auto;">
      <p style="font-family: 'Quicksand', sans-serif;">
        Reports logged with the Bike Blackspot app are collated and used to lobby for cycling infrastructure improvements.
        <br></br>
        Your report has been received and emailed directly to the state and federal transport ministers who represent you, as well as the Australian Greens transport spokesperson at both state and federal levels in your area.
        <br></br>
        For more info and collated reports, visit <a href="" style="text-decoration: none; color: #21BED8; font-weight: bold;">bikeblackspot.org</a>
      </p>
      </div>

    <!--
      <div class="social" style="list-style: none; text-decoration: none; margin-top: 3%; text-align: center;">
        <li>
          <a href="#" style="padding: 0.5%;"><img src="https://s3-ap-southeast-2.amazonaws.com/bikeblackspot2015/static_resources/facebook.png"></a>
          <a href="#" style="padding: 0.5%;"><img src="https://s3-ap-southeast-2.amazonaws.com/bikeblackspot2015/static_resources/twitter.png"></a>
          <a href="#" style="padding: 0.5%;"><img src="https://s3-ap-southeast-2.amazonaws.com/bikeblackspot2015/static_resources/email.png"></a>
          <a href="#" style="padding: 0.5%;"><img src="https://s3-ap-southeast-2.amazonaws.com/bikeblackspot2015/static_resources/linkedin.png"></a>
        </li>
      </div>
    </div> 
    -->

  <footer style="font-family: 'Quicksand', sans-serif; font-size: 12px; width: 100%; height: auto; margin: 0 auto; padding-top: 3%; padding-bottom: 3%;">

    <div class="disc">
      <div class="text" style="width: 60%; margin: 0 auto; padding-top: 10px; text-align: center;">
        <img src="https://s3-ap-southeast-2.amazonaws.com/bikeblackspot2015/static_resources/greens.jpg" height="40" width="45" style="text-align: center; margin: 0 auto; padding-bottom: 10px;"> </br>
        <span>This is a campaign of the Australian Greens. </br> Authorised by Senator Janet Rice, 240 Sydney Rd Coburg VIC 3058.</span>
      </div>
    </div>

  </footer>

</div>

</body>

</html>