
<!DOCTYPE HTML>

<html>

	<head>
		<title>Bike Blackspot Admin</title>
		<link rel="stylesheet" href="/styles/admin.css">
	</head>

	<body>
		<header>

		</header>

		<div class="central-col">
			<h1>Export Data</h1>
			<p>Here you can download an export of the currently submitted reports as a CSV</p>
			<button id="export-csv" type="button" onclick="location.href='/exports'">Export CSV</button>

			<h1>Email List</h1>
			<table id="recipients">
				<colgroup>
			        <col width="45%">
			        <col width="45%">
			        <col width="5%">
			        <col width="5%">
			    </colgroup>
				<thead>
					<th>Name</th>
					<th>Email</th>
					<th>State</th>
					<th></th>
				</thead>
				<tbody>
					<% rowCount = 0 %>
					<% @recipients.each do |recipient| %>
						<tr id='recipient-row-<%= rowCount %>'>
						<% recipient.map do |row| %>
							<% if row.first == 'name' %>
								<td><%= row[1] %></td>
							<% elsif row.first == 'email' %>
								<td><%= row[1] %></td>
							<% elsif row.first == 'state' %>
								<td><%= row[1] %></td>
							<% end %>
						<% end %>
						<td class="delete"><img src="/images/iconmonstr-trash-can-9-icon-blue.png" alt="Delete recipient" onclick="deleteRecipient(<%= rowCount %>)"></td>
						<% rowCount += 1 %>
						</tr>
					<% end %>
				</tbody>
			</table>

			<h2>Add new recipient</h2> <!-- nedd "name", "email", "state" -->
			<form action="/recipients" method="POST">
				<table id="add-recipient">
					<colgroup>
				        <col width="40%">
				        <col width="40%">
				        <col width="10%">
				        <col width="10%">
				    </colgroup>
					<thead>
						<th>Name</th>
						<th>Email</th>
						<th>State</th>
						<th></th>
					</thead>
					<tbody>
						<tr>
							<td><input type="text" name="name" placeholder="Name" required></td>
							<td><input type="email" name="email" placeholder="someone@email.com" required></td>
							<td>
								<select name="state">
									<option value="ACT" selected="selected">ACT</option>
									<option value="NSW">NSW</option>
									<option value="VIC">VIC</option>
									<option value="QLD">QLD</option>
									<option value="SA">SA</option>
									<option value="TAS">TAS</option>
									<option value="NT">NT</option>
								</select>
							</td>
							<td><button type="submit">Add</button></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>

	</body>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript">
		function deleteRecipient(rowId) {
			var tableRow = $('#recipient-row-' + rowId);
			var name = tableRow.children()[0].innerHTML;
			var email = tableRow.children()[1].innerHTML;
			var state = tableRow.children()[2].innerHTML;
			console.log(name, email, state);
			var formData = { name: name, email: email, state: state};
			$.ajax({
			    url: '/recipients',
			    type: 'DELETE',
			    data: formData,
			    success: function(result) {
			        alert('Delete Successful');
			    }
			});
		}
	</script>

</html>
























